<h1>Gangs</h1>

<ul>
<% @gangs.each do |gang| %>
<li><%= link_to gang.name, resource(gang) %> <%= link_to "M", resource(gang, :edit) %></li>
<% end %>
</ul>
<%= link_to "Nouveau", resource(@gangs, :new) %>
